 .headerText{
  color: #bdb9b9;
 }

 .headerText:hover{
 color: #FFF;
 }

 .headerIcon{
  width: 23px;
  height: 23px;
  background-color:#4BB16A ;
  color:#fff;
  border-radius:4px ;
  margin-right: 5px;
 }
 .Icone{
   font-size: 10px;
 }
 .headerIcon:hover{
  background-color: #136b2d;
 }

.mono-section-one-bg {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
   
}
.mono-section-one{
  background-color: black;
  /* opacity: 0.6; */
}
 
 .mombo_nab{
  position: sticky;
  top: 0px;
  z-index: 1;
 }

 .extra_margin {
  margin-top: 100px;
  margin-bottom: 100px;
 }

 .round {
  border-radius: 16px;
 }

 .smallline{
  width: 60px;
  height: 2px;
  background-color: rgb(4, 179, 4);
 }
 .smallline_2{
  width: 30px;
  height: 2px;
  background-color: rgb(26, 167, 26);
 }

 .black_div{
  margin-top: -14px;
  width: 25px;
  height: 25px;
 }

 .section-bg {
  background-color: #F1F6FD;
 }

 .circle_div {
  width: 4rem;
  height: 4rem;

 }
 
 .mycolor_01 {
  background-color: #4EAB8E;
 }
 .mycolor_02{
  background-color: #D9A235;
 }
 .mycolor_03{
  background-color: #3E9659 ;
 }

 .card_image {
  border-radius: 16px;
 }

.hoverImage {
  width: 100%;
  height: 100%;
}

.hoverImage:hover {
  transition: 1s;
  
}

 .location-image {
  width: 100%;
  height: 250px;
  border: #3E9659 4px;
 }
 .location {
  border:3px solid #bdb9b9 ;
  border-radius: 6px;
 }

 .last_form {
  max-width: 26rem;
  margin-left: auto ;
 }

 ul  {
  list-style-type: none;
 }

 a {
  text-decoration:none ;
 }
 .iconelist {
  color: #5be785;
  font-size: 20px;
 }

 .coffee{
  width: 55px;
  height:60px;
  background-color: rgba(8, 255, 8, 0.247);
  font-size: 25px;
 }

 .circleIcon{
  width: 23px;
  height: 23px;
  background-color:#4BB16A ;
  color:#fff;
  border-radius:50%;
  margin-right: 5px;
 }