.mono-section-one {
  background-color: rgb(26, 25, 25);
  
}
 


.mono-section-one-bg {
   
  /* opacity: 0.5 !important; */
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
}
 
 
 .mombo_nab{
  position: sticky;
  top: 0px;
  z-index: 1;
 }

 .extra_margin {
  margin-top: 100px;
  margin-bottom: 100px;
 }

 .round {
  border-radius: 16px;
 }

 .smallline{
  width: 60px;
  height: 2px;
  background-color: rgb(4, 179, 4);
 }
 .smallline_2{
  width: 30px;
  height: 2px;
  background-color: rgb(0, 248, 0);
 }

 .black_div{
  margin-top: -14px;
  width: 25px;
  height: 25px;
 }

 .section-bg {
  background-color: #F1F6FD;
 }

 .circle_div {
  width: 4rem;
  height: 4rem;

 }
 
 .mycolor_01 {
  background-color: #4EAB8E;
 }
 .mycolor_02{
  background-color: #D9A235;
 }
 .mycolor_03{
  background-color: #3E9659 ;
 }

 .card_image {
  border-radius: 16px;
 }

 .location-image {
  max-width: 400px;
  height: 200px;
  border: #3E9659 2px;
 }

 .last_form {
  max-width: 26rem;
  margin-left: auto ;
 }

 ul  {
  list-style-type: none;
 }

 a {
  text-decoration:none ;
 }
 .iconelist {
  color: #5be785;
  font-size: 25px;
 }

  
